.button-filtro{
    background-color: orange;
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    cursor: pointer;
}

.button-add{
    background-color: rgb(0, 194, 0);
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    text-decoration: none;
}

.button-atualizar{
    background-color: yellow;
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    text-decoration: none;
}

.button-deletar{
    background-color: red;
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    text-decoration: none;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.p {
    background-color: white;
    padding: 10px 20px;
    margin: 0;
}

select{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}