<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar tarefas</title>
</head>
<body>
    <header class="header">
        <h1>Adicione sua tarefa</h1>
    </header>

    <main>
        <form action="">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">

            <label for="concluido">Concluido:</label>
            <input type="radio" id="concluido" name="situacao" value="concluido">
            
            <label for="pendente">Pendente:</label>
            <input type="radio" id="pendente" name="situacao" value="concluido" checked>

            <button type="submit">Enviar</button>
        </form>
    </main>
</body>
</html>