<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar tarefas</title>
</head>
<body>
    <header class="header">
        <h1>Adicione sua tarefa</h1>
    </header>

    <main class="main">
        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="button-submit">Enviar</button>

            <a href="{% url 'listar' %}">Voltar</a>
        </form>
    </main>
</body>
</html>