{% extends "base.html" %}

{% block title %}
    Exclua Tarefas 
{% endblock %}

{% block page_title %}
    Exclua Tarefa
{% endblock %}

{% block content %}
    <main class="main">
        <p class="p">Tem certeza que deseja excluir essa tarefa?</p>
        <p class="p">{{ tarefa }}</p>

        <form method="post" class="form">
            {% csrf_token %}

            <button type="submit" class="button-submit">Sim, excluir!</button>
        </form>

        <a href="{% url 'listar' %}" class="a-button">Voltar</a>
    </main>
{% endblock %}