{% extends "base.html" %}
{% load static %}

{% block title %}
    Minhas Tarefas
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_title %}
    Minhas Tarefas
{% endblock %}

{% block content %}
    <main class="main">
        <a href="{% url 'adicionar' %}" class="button-add">Nova tarefa</a>

        <ul class="lista">

            <form method="get" class="form">
                <label for="filtro">Filtro:</label>
                <select name="filtro" id="filtro" class="filtro">

                    <option value="" 
                        {% if request.GET.filtro == "" %}selected{% endif %} class="option">
                        Nenhum
                    </option>

                    <option value="concluido" 
                        {% if request.GET.filtro == "concluido" %}selected{% endif %} class="option">
                        Concluido
                    </option>

                    <option value="pendente" 
                        {% if request.GET.filtro == "pendente" %}selected{% endif %} class="option">
                        Pendente
                    </option>

                </select>

                <button type="submit" class="button-filtro">Filtrar</button>
            </form>

            {% for tarefa in tarefas %}
            <li class="linha">
                <p class="p">{{ tarefa }}</p>

                {% if tarefa.concluido %}
                <p class="p">Tarefa concluída.</p>

                {% else %}
                <p class="p">Tarefa pendente.</p>

                {% endif %}

                <a href="{% url 'deletar_tarefa' tarefa.pk %}" class="button-deletar">Deletar</a>
                <a href="{% url 'atualizar_tarefa' tarefa.pk %}" class="button-atualizar">Atualizar</a>
            </li>

            {% empty %}
            <li class="linha-empty">Nenhuma tarefa registrada</li>

            {% endfor %}
        </ul>
    </main>
{% endblock %}