<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de taferas</title>
</head>
<body>
    <header class="header">
        <h1>Minhas tarefas</h1>
    </header>

    <main class="main">
        <a href="{% url 'adicionar' %}">Novas tarefas</a>

        <ul class="lista">

            <form method="get">
                <label for="filtro">Filtro:</label>
                <select name="filtro" id="filtro">
                    <option value="" 
                        {% if request.GET.filtro == "" %}selected{% endif %}>
                        Nenhum
                    </option>
                        <option value="concluido" 
                        {% if request.GET.filtro == "concluido" %}selected{% endif %}>
                        Concluido
                    </option>
                    <option value="pendente" 
                        {% if request.GET.filtro == "pendente" %}selected{% endif %}>
                        Pendente
                    </option>
                </select>

                <button type="submit">Filtrar</button>
            </form>

            {% for tarefa in tarefas %}
            <li class="linha">
                {{ tarefa }}

                {% if tarefa.concluido %}
                <p>Tarefa concluída.</p>

                {% else %}
                <p>Tarefa pendente.</p>

                {% endif %}
            </li>

            {% empty %}
            <li class="linha-empty">Nenhuma tarefa registrada</li>

            {% endfor %}
        </ul>
    </main>
</body>
</html>